:root {
    --date-color: #d01114;
    --primary-color: #8E744B;
    --secondary-color: #fff8f0;
    --max-widht-container: 700px;
    --border-color: #dbcebe;
    --text-color: #1b1b1b;
    --gradiente-oro: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

@font-face {
    font-family: nova;
    src: url("./assets/fonts/nova_quinta.otf");
}

@font-face {
    font-family: times;
    src: url("./assets/fonts/times.ttf");
}

@font-face {
    font-family: jost;
    src: url("./assets/fonts/jost.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent text auto-scaling */
}

body {
    min-height: -webkit-fill-available;
    min-height: 100vh;
    min-height: 100dvh;
}

/* layout */
.container {
    position: relative;
    width: 100%;
    font-size: 1rem;
    font-family: jost;
    color: var(--text-color);
    max-width: var(--max-widht-container); 
    background-color: var(--secondary-color);
    margin: 0 auto;
}

/* imagenes */
@media  (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
    .top-image {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        position: fixed;
        display: block;
    }
}
@media (max-width: 1080px) and (min-width: 360px) {
    .top-image {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
    }
}

.top-image,
.bottom-image,
.estrellas {
    width: 100%;
    height: 100dvh;
    min-height: -webkit-fill-available;
    display: block;
}

.top-image,
.estrellas {
    position: absolute;
    top: 0;
    left: 0;
}


.bottom-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* contenido */

.content {
    animation: slide-in 3s ease-in-out;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media  (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3)  {
.gatito {
    width: 75px;
    height: 75px;

}

.baby-shower {
    font-family: times;
    color: var(--primary-color);
    font-size: 1.0rem;
    padding-left: 30px;
    width: 60%;
    height: 45px;
   
}
.mensaje-invitacion {
    padding: 55px 0;
    width: 55%;
    font-family: nova;
}
.separator {
    width: 100%;
    height: min(58vw,415px); 
}
}
/* For Android */
@media (max-width: 1080px) and (min-width: 360px)   {
.gatito {
    width: 75px;
    height: 75px;

}

.baby-shower {
    font-family: times;
    color: var(--primary-color);
    font-size: 1.0rem;
    padding-left: 30px;
    width: 60%;
    height: 85px;
   
}
.mensaje-invitacion {
    padding: 55px 0;
    width: 55%;
    font-family: nova;
}
.separator {
    width: 100%;
    height: min(48vw,375px); 
}
}
/* textos */
@media (min-width: 1024px) {
.gatito {
    width: 175px;
    height: 175px;

}
.baby-shower {
    font-family: times;
    color: var(--primary-color);
    font-size: 1.35rem;
    height: 150px;
    padding-left: 55px;
}
.mensaje-invitacion {
    padding: 50px 0;
    width: 50%;
    font-family: 'Lucida Handwriting', monospace;
}
.separator {
    width: 100%;
    height: min(58vw,300px);
}
}

.gold-text {
    background: var(--gradiente-oro);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name {
    font-family: nova;
    font-size: 4rem;
    margin: 30px 0;
    font-weight: 400;
}

.fecha {
    width: 66%;
    display: flex;
    align-items: center;
    align-items: stretch;
    justify-content: center;
}

.fecha p {
    flex: 1;
    width: 100%;
    padding-bottom: 1px;
    border-bottom: 2px solid var(--border-color);
    background-color: var(--date-color);
    color: var(--secondary-color);
    display: block;

}

.fecha p:first-child {
    border-right: 2px solid var(--border-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.ubicacion {
    border-bottom: 2px solid var(--border-color);
    padding: 16px 0;
    width: 90%;
}

.ubicacion p {
    padding-bottom: 16px;
}

.call-to-action {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 26px;
    border-radius: 5px;
}

.regalos {
    padding-top: 16px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
    border-bottom: 2px solid var(--border-color);
}

.regalos div,
.regalos a {
    flex: 1;
    margin: 0 auto;
}

.icon {
    width: 30px;
    height: 30px;
}

.buttons {
    margin-top: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@keyframes slide-in {
    0% {
        /* transform: translateX(-100%); */
        transform: translateY(-50px);
        opacity: 0%;
    }
    100% {
        /* transform: translateX(0); */
        transform: translateY(0);
        opacity: 100%;
    }
}
